@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
  


  body{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: inherit;
    position: relative;
  }
  
  main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .window{
    fixed max-width: 20em;
    padding: 1em 1em 1em 1em;
    border: solid rgb(255, 255, 255) 5px;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    gap: 20em;
  }
  
  
  img{
    width: 18em;
    border-radius: 2em;
  }
  
  
  h1{
    font-size:  1rem;
    font-family: outfit;
    transform: perspective(1px) scale3d(1.1, 1.1, 1);
  }
  h2{
      font-size:  1rem;
      font-family: outfit;
      transform: perspective(1px) scale3d(1.1, 1.1, 1);
      color: gray;
      
  }
  
  
  footer { 
    font-size: 1em; 
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 1em; 
  }
